@{
    ViewBag.Title = "Albums";
}

<h2>@ViewBag.Title</h2>
<hr/>
<div>
    @Html.Action("Create")
</div>
<hr />
<div id="loading" style="display: none">
    <img src="~/Content/Images/loading.gif" alt="loadingImg" />
</div>
<div id="update">
    @Html.Action("_Albums")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

