@{
    ViewBag.Title = @ViewBag.Subject;
}
<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
<div>
    <p>
        To use your account on website, you need to confirm your email address <b>@ViewBag.Email</b>.
        Check your email and locate the confirmation email (subject: @ViewBag.Subject).
        Follow the steps in the email to confirm your email address.
        Please make sure that "C:\maildrop" directory exists.
    </p>
</div>

