@{
    ViewBag.Title = "Home";
}

<div class="jumbotron" align="center">
    <h1>MVC WebAlbum</h1>
    <h3>by Mykola Demchuk</h3>
</div>
<div align="center">
    <img src="~/Content/Images/Homepage.jpg" alt="Homepage" />
</div>
